# Created by .ignore support plugin (hsz.mobi)
*.pyc
src/pyx4_base/data/images/lf_save_files
learning_flights/data/lf_images/last_run/

src/learning_flights_pyeye/definitions_lf_pyeye_local.py
src/learning_flights_common/latest_lf_images.pdf

