<launch>

    <arg name="gui" default="true"/>
    <arg name="world" default="flat.world"/>
    <arg name="vehicle" default="iris"/>

    <arg name="timeout" default="30"/>
    


    PX4 MAVROS NODE
    <include file="$(find px4)/launch/mavros_posix_sitl.launch">
        <arg name="world" default="$(arg world)"/>
        <arg name="verbose" value="true"/>
        <arg name="vehicle" value="$(arg vehicle)"/>
        <arg name="interactive" value="false"/>
        <arg name="respawn_mavros" value="false"/>
        <arg name="gui" value="$(arg gui)"/>
    </include>

    Pyx4_node
    <node pkg="pyx4" type="teleoperation.py" name="teleop" output="screen"
        args="
                --timeout $(arg timeout)
          "
    />

    <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="twist_teleop"/ output="screen">

</launch>